<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.Sitecore().Placeholder("ecm_leftnav")
        </div>
        <div class="col-md-8">
            @Html.Sitecore().Placeholder("ecm_bodycontent")
        </div>
    </div>
</div>