@using Glass.Mapper.Sc.Web.Mvc
@using EMAAR.ECM.Foundation.SitecoreExtensions.Settings
@using Sitecore.Framework.Fields.Extensions
@model EMAAR.ECM.Foundation.ORM.Models.sitecore.templates.Project.ECM.Content_Types.Banner.IParallax
@using EMAAR.ECM.Foundation.Search.Helpers
@using Sitecore.Framework.Helper
@{

    var image = AdvancedImageHelper.GetImageFieldUrl(Model.ContextItem, "Image", 1920, 900);
}
<!-- Start Parallax-->
@using (Html.BeginEditFrame(Model.FullPath, "FullBannerImage", "Edit Background Image"))
{
    <!-- background image with text starts(In Experience Editor mode) -->
    <section style="background:url(@image ) no-repeat center center fixed" class="bg-image-text">
        <div class="container">
            <div class="text-wrap wow fadeInUp">
                <h2 class="heading">@Html.Glass().Editable(Model, x => x.Title)</h2>
                <p>
                    @Html.Raw(Html.Glass().Editable(Model, x => x.Summary))
                </p>
                @if (Model.Button != null)
                {
                    using (Html.Glass().BeginRenderLink(Model, x => x.Button, new { @class = "btn btn-primary mt-3 mt-md-5" }, isEditable: true))
                    {
                        @Model.Button_Text
                        <i>
                            <img src="@String.Format("{0}{1}",SitecoreSettings.IconRootPath,"btn-arrow.svg")" alt="arrow" class="svg">

                        </i>
                    }
                }



            </div>
        </div>
    </section>
}

<!-- background image with text ends -->
<!-- End Parallax-->