<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>       
        <settings>
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.FeatureViewPath" value="~/Views/Feature/ECM/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ProjectViewPath" value="~/Views/Project/ECM/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HomePageSearch" value="/Site Settings/Site Specific Images/Home/HomePageSearch" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HomePageClose" value="/Site Settings/Site Specific Images/Home/HomePageClose" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ContentPageSearch" value="/Site Settings/Site Specific Images/Content/ContentPageSearch" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ContentPageClose" value="/Site Settings/Site Specific Images/Content/ContentPageClose" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.NavigationHeaderPath" value="/Site Content/Navigation/Header" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.NavigationFooterPath" value="/Site Content/Navigation/Footer" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ImageLocation" value="Assets/Project/ECM/images/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.IconRootPath" value="Assets/Project/ECM/images/icon/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.DateFormat" value="dd MMMM yyyy" />
		</settings>
    </sitecore>
</configuration>