<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
		<fieldTypes>
			<fieldType name="ECM QuerableTreelist" type="EMAAR.ECM.Foundation.SitecoreExtensions.Controls.QueryableTreelist,EMAAR.ECM.Foundation.SitecoreExtensions" resizable="true" />
			<fieldType name="AdvanceImageField" type="Glass.Mapper.Sc.Fields.AdvanceImageField,Sitecore.Framework.Fields" resizable="true" />
		</fieldTypes>
		<mediaLibrary>
			<requestProtection>
				<protectedMediaQueryParameters>
					<parameter description="cx" name="cx"/>
					<parameter description="cy" name="cy"/>
					<parameter description="cw" name="cw"/>
					<parameter description="ch" name="ch"/>
				</protectedMediaQueryParameters>
				<customMediaQueryParameters>
					<parameter description="cx" name="cx"/>
					<parameter description="cy" name="cy"/>
					<parameter description="cw" name="cw"/>
					<parameter description="ch" name="ch"/>
				</customMediaQueryParameters>
			</requestProtection>
			<requestParser type="Sitecore.Resources.Media.MediaRequest, Sitecore.Kernel">
				<patch:attribute name="type">Sitecore.Resources.Media.CropMediaRequest, Sitecore.Framework.Fields</patch:attribute>
			</requestParser>
		</mediaLibrary>

		<settings>
			<setting name="Sitecore.Framework.Fields.AdvanceImageField.DefaultThumbnailFolderId" value="" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.FeatureViewPath" value="~/Views/Feature/ECM/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ProjectViewPath" value="~/Views/Project/ECM/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HomePageSearch" value="/Site Settings/Site Specific Images/Home/HomePageSearch" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HomePageClose" value="/Site Settings/Site Specific Images/Home/HomePageClose" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ContentPageSearch" value="/Site Settings/Site Specific Images/Content/ContentPageSearch" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ContentPageClose" value="/Site Settings/Site Specific Images/Content/ContentPageClose" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.NavigationHeaderPath" value="/Site Content/Navigation/Header" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.NavigationFooterPath" value="/Site Content/Navigation/Footer" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ImageLocation" value="Assets/Project/ECM/images/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.IconRootPath" value="Assets/Project/ECM/images/icon/" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.DateFormat" value="dd MMMM yyyy" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.NewsThumnailPixel" value="237x257" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.DownloadThumnailPixel" value="237x328" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.AlbumThumnailPixel" value="236x148" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HeroImagepixel" value="1920x900" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.HomePageCarouselpixel" value="255x350" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ImageTextpixel" value="540x550" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.Parallaxpixel" value="1920x900" />
		    <setting name="EMAAR.ECM.Foundation.SitecoreExtensions.ContentPageBannerpixel" value="860x400" />
			<setting name="EMAAR.ECM.Foundation.SitecoreExtensions.RelatedPages" value="225x350" />
		</settings>
		<pipelines>
			<expandInitialFieldValue>
				<processor type="EMAAR.ECM.Foundation.SitecoreExtensions.Tokens.CustomToken,EMAAR.ECM.Foundation.SitecoreExtensions" patch:after="processor[@type='type=Sitecore.Pipelines.ExpandInitialFieldValue.ReplaceVariables, Sitecore.Kernel']"/>
			</expandInitialFieldValue>
		</pipelines>
    </sitecore>
</configuration>