<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>

      <indexConfigurations>
        <defaultCloudIndexConfiguration type="Sitecore.ContentSearch.Azure.CloudIndexConfiguration, Sitecore.ContentSearch.Azure">
          <documentOptions type="Sitecore.ContentSearch.Azure.CloudSearchDocumentBuilderOptions,Sitecore.ContentSearch.Azure">
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="imageurl">EMAAR.ECM.Foundation.Search.ComputedFields.ImageUrl, EMAAR.ECM.Foundation.Search</field>
				<field fieldName="thumbnailurl">EMAAR.ECM.Foundation.Search.ComputedFields.ThumbnailUrl, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="pageurl">EMAAR.ECM.Foundation.Search.ComputedFields.PageUrl, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="customsortorder">EMAAR.ECM.Foundation.Search.ComputedFields.CustomSortOrder, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="customyear" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES">EMAAR.ECM.Foundation.Search.ComputedFields.CustomYear, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="customdate" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES">EMAAR.ECM.Foundation.Search.ComputedFields.CustomDate, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="custommonth">EMAAR.ECM.Foundation.Search.ComputedFields.CustomMonth, EMAAR.ECM.Foundation.Search</field>
              <field fieldName="externalurl">EMAAR.ECM.Foundation.Search.ComputedFields.ExternalUrl, EMAAR.ECM.Foundation.Search</field>
            </fields>       
          </documentOptions>
          <fieldMap             type="Sitecore.ContentSearch.Azure.FieldMaps.CloudFieldMap, Sitecore.ContentSearch.Azure">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field type="System.String" fieldName="title" searchable="YES" retrievable="YES" facetable="YES" filterable="YES" sortable="YES" boost="1f" settingType="Sitecore.ContentSearch.Azure.CloudSearchFieldConfiguration, Sitecore.ContentSearch.Azure" cloudAnalyzer="language"/>
            </fieldNames> 
          </fieldMap>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>

    </contentSearch>
  </sitecore>
</configuration>